.modalContainer {
  display: flex;
  height: 60%;
  overflow: hidden;
  background: #fbf6ed;
}

.modalCustomBody .ant-modal .ant-modal-body .ant-modal-content {
  padding: 0 !important;
}

.formSection {
  flex: 1;
  padding: 24px;
  background: #fbf6ed;
}

.modalTitle {
  color: green;
}
.imageSection {
  flex: 2;
  position: relative;
  background: url("/Rightpanel.png") no-repeat center center;
  background-size: "cover";
}

.contactDetails {
  padding: 24px;
  color: #fff;
}
.ant-row {
  margin-bottom: 16px;
}

.ant-col {
  margin-bottom: 0;
}

.ant-form-item {
  margin-bottom: 16px; /* Space between form items */
}

.legalText {
  font-size: 12px; /* Smaller font size for legal text */
  color: #666; /* Grey text color */
  line-height: 1.5; /* Spacing between lines */
  margin-top: 20px; /* Space above the legal text */
}
.buttonSubmit {
  border-radius: 0px;
  color: green;
  background-color: #fbf6ed;
  padding: 8px;
  border-color: green;
}
.Input {
  background-color: green;
}
/* Add additional styling as needed */
