/* dashboard.module.css */
.dashboardContainer {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 100px;
  background: #fff; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.content{
  width: 100%;
}

.iconContainer {
  margin-bottom: 20px;
  cursor: pointer;
}

