.listingsContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  width: 100%;
  justify-content: center;
  padding-top: 10rem;
}

.upperSlider {
  color: black;
  font-size: 20px;
}
.searchContainers {
  width: 90%;
  padding: 2rem;
}
.roomContainers {
  padding-top: 10px;
  padding-bottom: 10px;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  color: #0e5d30;
  gap: 20px;
}
.listingItem {
  flex: 0 1 calc(33.333% - 1rem);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

.listingItem:hover {
  transform: scale(1.1);
}

.listingDetails {
  padding: 1rem;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  color: #fbee24;
  padding: 0.5rem;
}

.price {
  font-weight: bold;
}

.description,
.address,
.meta {
  display: block;
  margin-bottom: 0.5rem;
}

.sliderContainer :global(.ant-slider-track),
.sliderContainer :global(.ant-slider:hover .ant-slider-track) {
  background-color: black;
  border: 2px solid black;
}

.sliderContainer :global(.ant-slider-handle::after),
.sliderContainer :global(.ant-slider-handle:hover::after) {
  box-shadow: 0 0 0 2px black !important;
}
.sliderContainer :global(.ant-slider-mark-text) {
  width: max-content;
}
